    #frg {
        display: flex;
        margin-left: auto;
        justify-content: flex-end;
        padding-bottom: 25px;
        color: #7a7a7a;
        font-weight: 700;
    }

    #lgo-btn {
        max-height: 50px;
        margin: auto;
        max-width: 700px;
        min-height: 50px;
        font-weight: 400;
        font-size: 16px;
    }

    #dd-none {
        display: none;
    }

    #mutli .e-form__indicators__indicator {
        padding-right: 0px;
        padding-left: 0px;
    }

    #mutli .e-form__indicators__indicator i {
        color: #fff;
    }

    #mutli .e-form__indicators__indicator--shape-circle {
        margin-top: 13px;
        border: 2px solid;
    }

    #mutli .e-form__indicators__indicator--state-active i {
        color: #5541d7;
        background-color: #5541d7;
        border-radius: 50%;
        height: 18px;
    }

    #mutli .e-form__indicators__indicator--state-completed .e-form__indicators__indicator--shape-circle {
        background-color: #fff;
        border: 2px solid #5541d7;
    }

    #mutli .e-form__indicators__indicator--state-completed i {
        color: #5541d7;
        background-color: #5541d7;
        border-radius: 50%;
        height: 18px;
    }

    .elementor-subgroup-inline .elementor-field-option input[type="radio"] {
        position: absolute;
        opacity: 0;
    }

    #mutli .elementor-subgroup-inline {
        margin: 20px 0px;
    }

    .elementor-subgroup-inline .elementor-field-option input[type="radio"]+label {
        border: 1px solid #ddd;
        padding: 15px 30px;
        margin: 10px;
        border-radius: 10px;
        width: 100px;
        text-align: center;
        color: #DBD7F4;
    }

    .elementor-field-option .elementor-acceptance-field+label {
        color: #aaa !important;
        font-weight: 400;
    }

    .elementor-field-option .elementor-acceptance-field+label a {
        color: #aaa !important;
        font-weight: 500;
    }

    .elementor-field-type-html p {
        color: #aaa;
    }

    .e-form__indicators--type-icon {
        width: 230px;
    }

    #mutli .elementor-subgroup-inline .elementor-field-option input[type="radio"]:checked+label {
        border: 1px solid #5541d7;
        color: #5541d7;
    }

    #mutli .elementor-field-type-acceptance .elementor-field-option {
        align-content: center;
        align-self: center;
        display: flex;
    }

    #mutli .elementor-field-type-acceptance .elementor-field-option input[type="checkbox"] {
        width: 20px;
        height: 20px;
    }

    .e-form__buttons__wrapper {
        width: 150px;
    }

    .e-form__buttons__wrapper input[type="button"] {
        border-radius: 8px;
    }

    .e-form__buttons__wrapper {
        width: 150px;
    }

    .elementor-field-type-submit .e-form__buttons__wrapper__button {
        font-size: 15px;
        height: 48px;
        font-weight: 400;
    }

    @media screen and (max-width:769px) {
        #mutli .elementor-subgroup-inline .elementor-field-option {
            display: block;
            margin-bottom: 35px;
        }
        #mutli .elementor-subgroup-inline {
            margin-bottom: 0px;
        }
        #mutli .elementor-field-type-acceptance .elementor-field-option input[type="checkbox"] {
            width: 40px;
            height: 40px;
        }
    }